{% extends "base.html" %}
{% block title %}Juegos - Lista de Juegos{% endblock %}
{% block content %}
<div class="posts">
    <h1 class="content-subhead">Lista de Juegos</h1>
    <form action="{{ url_for('listajuegos') }}" method="POST">
        <input type="text" name="busqueda" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% else %}
        <section class="post">
            <div class="post-description">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Desarrollador</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for juego in juegos %}
                            <tr>
                                <td>{{ juego.nombre }}</td>
                                <td>{{ juego.desarrollador }}</td>
                                <td><a href="/juego/{{ juego.id }}">Detalle</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}
</div>
{% endblock %}
