{% extends "base.html" %}
{% block title %}Juegos - Juego{% endblock %}
{% block content %}
<div class="posts">
    <h1 class="content-subhead">Flask</h1>

    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            

            <h2 class="post-title">Juego</h2>
        </header>

        <div class="post-description">
            {% if not nombre -%}
                <h1>No se encontró el juego solicitado</h1>
                {% else %}
                <h1><b>{{ nombre }}</b></h1>
                <h4><b>Año:</b> {{ año }}</h2>
                <h4><b>ID:</b> {{ id }}<h4>
                <h4><b>Sistema:</b> {{ sistema }}<h4>
                <h4><b>Distribuidor:</b> {{ distribuidor }}<h4>
                <h4><b>Desarrollador:</b> {{ desarrollador }}<h4>
                <h4><b>Categoría:</b> {{ categoria }}<h4>
                {% endif -%}
        </div>
        <a href = "/juegos">Volver a la lista de juegos</a>
    </section>
</div>
{% endblock %}



